# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
venv/
env/
config.json
# Cache and logs
cache_data*
logs/
ununified
unused
# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
.history/